<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration form</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/form.css' %}">

</head>
<body>

<a href="{% url 'home' %}">Home</a>
<a href="{% url 'gallery' %}">Gallery</a>
<a href="{% url 'about' %}">About</a>

<div id="form">
    <form action="" >

        <h1 id="reg">Registration Form</h1>

        <label for="fname">First name:</label>
        <br>
        <input id="fname" type="text">
        <br><br>

        <label for="lname">Last name:</label>
        <br>
        <input id="lname" type="text">
        <br><br>

        <label for="mail">Email:</label>
        <br>
        <input id="mail" type="email">
        <br><br>

        <label for="pwd">Password:</label>
        <br>
        <input id="pwd" type="text">
        <br><br>

        <label for="rpwd">Re-type password:</label>
        <br>
        <input id="rpwd" type="text">
        <br><br>

        <label for="cnt">Contact:</label>
        <br>
        <input id="cnt" type="tel">
        <br><br>

        <label for="opt">Gender:</label>
        <select name="" id="opt">
            <option value="none" disabled="disabled">..</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <br><br>

        <button>Submit</button>




    </form>


</div>

</body>
</html>