<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product page</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>
<h1 class="text-center text-warning">PRODUCT INFORMATION</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad alias delectus dignissimos distinctio eius eos expedita explicabo iure maiores obcaecati possimus praesentium quaerat quas quidem rem repellendus tempore totam?</span><span>Debitis exercitationem libero officia omnis suscipit ullam. Blanditiis dicta dolores dolorum eos esse ex fugiat illo maxime minus nam necessitatibus nesciunt, non nostrum provident quae quaerat quasi sit suscipit totam.</span></p>

<table class="table table-bordered container pt-5">
    <tr class="">
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
    </tr>

    <tr class="table-info">
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>

    <tr class="table-danger">
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 Bags</td>
    </tr>


    <tr class="table-warning">
    <td>3</td>
    <td>Sugar</td>
    <td>Good</td>
    <td>300 Bags</td>
    </tr>

    <tr class="table-light">
        <td>3</td>
    <td>Sugar</td>
    <td>Good</td>
    <td>300 Bags</td>
    </tr>

    <tr class="table-success">
    <td>3</td>
    <td>Sugar</td>
    <td>Good</td>
    <td>300 Bags</td>
    </tr>

</table>

</body>
</html>